.video-container{
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    width: 800px;
    margin: 12px;
    justify-content: center;
    align-items: center;
}

.video-box{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.user-video{
    height: 100%; 
    max-width: 100%;
}

.video-box{
    background-color: rgba(109, 109, 109, 0.5);
    /*border: 2px solid blue;*/
    border-radius: 4px;
    /* CHANGE THE HEIGHT OF THE VIDEO BOXES*/
    height: 410px;
    flex-grow: 1;
    margin: 4px;
    /*
    margin-top: 4px;
    margin-left: 6px;
    margin-bottom: 8px;
    */
}

@media (max-width: 900px) {
    .video-container{
        width: 95%;
        align-items: center;
        justify-content: center
    }
    .user-video{
        height: auto;
    }
    .video-box{
        height: auto;
        max-height: 410px;
    }
    .user-one{
        width: 50%;
    }
  }

@media (min-width: 2000px) {
    .video-container{
        width: 50%;
    }
    .video-box{
        width: 100%;
    }
}
