
.nav-bar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.349);
    color: rgb(0, 0, 0);
    align-items: center;
    -webkit-box-shadow: 0 4px 6px -6px #222222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 12px -6px #222;
}
.nav-start{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 20px;
}
.nav-end ul{
    display: flex;
    list-style-type: none;
    margin-right: 50px;
    gap: 40px;
}
.nav-link{
    color: black;
    font-weight: 700;
    text-decoration: none;
}
.nav-link:hover{
    color: grey;
}
